{% extends "templates/main.twig" %}

{% block title %}
	ADMIN - MANAGE FACULTIES
{% endblock %}

{% block main %}
	<div class="container-narrow">
		<div class="py-2">
			<div class="flex j-between i-center">
				<div>
					<ol class="breadcrumb">
						<li class="breadcrumb__item">
							<a href="{{ path_for("home") }}"><span class="material-icons-round">home</span></a>
						</li>
						<li class="breadcrumb__item">
							Faculties
						</li>
					</ol>
					<h1>Faculties Management</h1>
				</div>
				<a href="{{ path_for("admin.addFaculty") }}" class="btn btn-filled btn-secondary">ADD NEW FACULTY</a>
			</div>
		</div>
		<div class="card card-muted">
			{% if faculties is not empty %}
				<table class="table">
					<thead>
					<tr>
						<th>id</th>
						<th>faculty name</th>
						<th>Number of departments</th>
					</tr>
					</thead>
					<tbody>
					{% for faculty in faculties %}
						<tr>
							<td>{{ faculty.id }}</td>
							<td>
								<a href="{{ path_for("admin.faculty", {"id": faculty.id}) }}">{{ faculty.name }}</a>
							</td>
							<td> <small class="small">{{ faculty.departments | length }}</small></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% else %}
				<div class="card card-muted">
					<div class="card__body flex i-center j-center p-2">
						<p>Not faculty found</p>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

