{% extends "templates/base.twig" %}

{% block title %} Obadil - Login Page {% endblock %}

{% block body %}
	<div class="login-container">
		<div class="card card-login">
			<div class="card__header">
				<h2 class="card__title"> {{ __("auth.login") }} </h2>
				<p class="card_subtext"> {{ __("auth.fill_your_credentials")}} </p>
				{% if flash("error") %}
					<div class="error">
						{{ flash("error") | first }}
					</div>
				{% endif %}
				{% if flash("success") %}
					<div class="success">
						{{ flash("success") | first }}
					</div>
				{% endif %}
			</div>
			<div class="card__body">
				<form action="{{ path_for("auth.login") }}" method="post">
					<div class="field">
						<input
							class="field__input"
							type="text"
							name="username"
							placeholder="username"
							required
						/>
						<label class="field__label"> {{ __("language.username") }} </label>
					</div>
					<div class="field field-password">
						<input
							class="field__input"
							type="password"
							name="password"
							placeholder="password"
							required
						/>
						<label class="field__label"> {{ __("language.password") }} </label>
						<button class="field-password__toggle  material-icons-round">
							visibility
						</button>
					</div>
					<div class="field">
						<button
							class="btn btn-primary btn-full btn-rounded"
							type="submit"
						>
							{{ __("auth.login") }}
						</button>
					</div>
					{{ csrf() | raw }}
				</form>
			</div>
			<div class="card__footer">
				<a href="{{ path_for("auth.register") }}">register now</a>
			</div>
		</div>
		{% include "templates/language_switcher.twig" %}
	</div>

{% endblock %}
