{% extends "templates/base.twig" %}

{% block title %} Obadil - Login Page {% endblock %}

{% block body %}
	<div class="login-container">
		<div class="row">

			{# infrormation column #}
			<div class="col-6" style="background-color: var(--green)">
				<div class="container">
					<div class="hero">
						<h1 class="display">
							{# DISPLAY TEXT #}
							{{ __("messages.welcome") }}
						</h1>
						<p class="lead">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur deleniti inventore iure optio.
							Corporis dicta dolorum ducimus eius fugiat, ipsum iusto, nostrum officia pariatur quas reiciendis,
							similique veniam voluptate!
						</p>
					</div>
				</div>
			</div>

			{# login form column #}
			<div class="col-6">
				<div class="container">
					<div class="login-wrapper">

						{# Before login form text #}
						<h3 class="display">{{ __("messages.login") }}</h3>
						<p class="lead">{{ __("messages.fill_your_credentials") }}</p>

						<form action="{{ path_for("auth.login") }}" method="post">
							{# Username field #}
							<div class="field">
								<input id="username" class="field__input" type="text" name="username" value="{{ val("username") }}"
											 placeholder="Username" required>
								<label for="username" class="field__label"> {{ __("messages.field:username") }} </label>
							</div>

							{# Password field #}
							<div class="field">
								<input id="password" class="field__input" type="password" name="password" value="{{ val("password") }}"
											 placeholder="Password"
											 required>
								<label for="password" class="field__label">{{ __("messages.field:password") }}</label>
								<span class="field-password__toggle material-icons-round">
										visibility
									</span>
							</div>

							{# Remember me field group #}
							<div class="field-group">
								<div class="field field-full">
									<input type="checkbox" name="remember" id="remember">
									<label for="remember">{{ __("messages.auth:remember_me") }}</label>
								</div>
								<div class="field">
									<a href="#">{{ __("messages.auth:forget_password") }}</a>
								</div>
							</div>
							{# Login Button #}
							<div class="field">
								<button class="btn btn-full btn-primary" type="submit">{{ __("messages.login") }}</button>
							</div>

							{{ csrf() | raw }}
						</form>

						{# register link #}
						<div class="field">
							<p>
								{{ __("messages.auth:not_registered_yet") }}
								<a href="{{ path_for("auth.register") }}">
									{{ __("messages.registration") }}
								</a>
							</p>
						</div>

						{# langauge switcher #}
						<button
							class="btn btn-small btn-outline modal-toggle"
							data-model-id="language_model">
							<span class="material-icons-round"> language </span>
							language
						</button>
						{% include 'templates/language_switcher.twig' %}

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}