{% extends "templates/base.twig" %}

{% block title %} LMS - Registration Page {% endblock %}

{% block body %}
	<div class="login-container">
		<div class="row">
			<div class="col-8" style="background-color: var(--green)">
				<div class="container">
					<div class="hero">
						<h1 class="display">{{ __("messages.welcome") }}</h1>
						<p class="lead">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet fugit nobis sit!
							A assumenda consequuntur dolores, enim id incidunt laborum libero neque, nisi non quibusdam quod sunt
							totam, velit.
						</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="container">
					<div class="login-wrapper">
						<h3 class="display">{{ __("messages.registration") }}</h3>
						<p class="lead">{{ __("messages.fill_your_credentials") }}</p>
						{% if flash("validation") %}
							<div class="alert alert__error">
								{% for validationError in flash("validation") %}
									<p>
										{{ validationError | first }}
									</p>
								{% endfor %}
							</div>
						{% endif %}
						<form action="{{ path_for("auth.register") }}" method="post">

							{# Username field #}
							<div class="field">
								<input id="username" class="field__input" type="text" name="username" value="{{ val("username") }}"
											 placeholder="Username" required>
								<label for="username" class="field__label"> {{ __("messages.field:username") }} </label>
							</div>

							{# Password field #}
							<div class="field">
								<input id="password" class="field__input" type="password" name="password" value="{{ val("password") }}"
											 placeholder="Password"
											 required>
								<label for="password" class="field__label">{{ __("messages.field:password") }}</label>
								<span class="field-password__toggle material-icons-round">
										visibility
									</span>
							</div>

							{# Login Button #}
							<div class="field">
								<button class="btn btn-filled btn-primary" type="submit">
									<span class="material-icons-round">login</span>
									{{ __("messages.registration") }}
								</button>
							</div>

							{{ csrf() | raw }}
						</form>

						{# register link #}
						<div class="field">
							<p>
								Already have an account ?
								<a href="{{ path_for("auth.login") }}">
									Login here
								</a>
							</p>
						</div>

						{# langauge switcher #}
						<button
							class="btn btn-border-secondary modal-toggle"
							data-model-id="language_model">
							<span class="material-icons-round"> language </span>
							language
						</button>
						{% include 'templates/language_switcher.twig' %}


					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
