{% extends "templates/main.twig" %}
{% block title %}
	Admin Dashboard - Add new user
{% endblock %}
{% block main %}
	<div class="container-narrow">
		<div class="py-2">
			<ol class="breadcrumb">
				<li class="breadcrumb__item">
					<a href="{{ path_for("home") }}">
						<span class="material-icons-round">home</span>
					</a>
				</li>
				<li class="breadcrumb__item">
					<a href="{{ path_for("admin.users") }}">Users Management</a>
				</li>
				<li class="breadcrumb__item">
					new user
				</li>
			</ol>
			<h1>User Creation Form</h1>
		</div>
		<div class="card card-muted">
			<div class="row">
				<div class="col-4">
					<div class="py-2 px-2">
						<h4 class="card__title mb-1">Account Information</h4>
						<p class="card__text">
							Please fill in the information
						</p>
					</div>
				</div>
				<div class="col-8" style="background: var(--bg)">
					<div class="py-2 px-2">
						<form action="{{ path_for("admin.addUser") }}" method="post">
							{{ csrf() | raw }}
								<div class="flex gap-1">
									<div class="field field-small">
										<label class="label" for="username">Username *</label>
										<input class="field__input" type="text" name="username" id="username" required>
									</div>
									<div class="field field-small">
										<label class="label" for="password">Password *</label>
										<input class="field__input" type="password" name="password" id="password" required>
									</div>
								</div>
								<div class="field field-small">
									<label class="label" for="role">Type</label>
									<select class="field__input" name="role" id="role" required>
										{% for role in roles %}
											<option value="{{ role.id }}">{{ role.name }}</option>
										{% endfor %}
									</select>
								</div>
								<button class="btn btn-filled btn-primary">
									<span class="material-icons-round">add</span>
									create
								</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

