{% extends "templates/main.twig" %}
{% block title %} Admin Dashboard - User {% endblock %}
{% block main %}
	<div class="container">
		<section class="section section-narrow">
			<div class="mb-2">
				<h3 class="flex gap-2">
					<span class="material-icons-round">person</span>
					User Information
				</h3>
				<p>Edit or update user information</p>
			</div>
			<div class="row">
				<div class="col-3">
					{% if user.profile.picture %}
						<img src="{{ path_for("file.image", {"username" : user.username , "name": user.profile.picture}) }}"
								 alt="user profile image" style="width: 100%">
						<a href="#" class="btn btn-small btn-primary">
							<span class="material-icons-round">image</span>
							change picture
						</a>
					{% else %}
						<p>No profile picture</p>
						<a href="#" class="btn btn-small">
							<span class="material-icons-round">image</span>
							upload profile picture
						</a>
					{% endif %}
				</div>
				<div class="col-9">
					<div class="px-2">
						<form action="{{ path_for("admin.user", {"id": user.id}) }}" method="post">
							<h5>Account information</h5>
							<div class="flex gap-1">
								<div class="field field-small">
									<label class="label">Username</label>
									<input class="field__input" type="text" name="username" value="{{ user.username }}" disabled>
									<small>* cannot change user name</small>
								</div>
								<div class="field field-small">
									<label class="label">Points</label>
									<input class="field__input" type="number" name="total_points" min="0" value="{{ user.total_points }}">
								</div>
							</div>
							<h5>Personal Information</h5>
							<div class="flex gap-1">
								<div class="field field-small">
									<label class="label">First name</label>
									<input class="field__input" type="text" name="first_name" value="{{ user.profile.first_name }}">
								</div>
								<div class="field field-small">
									<label class="label">Last name</label>
									<input class="field__input" type="text" name="last_name" value="{{ user.profile.last_name }}">
								</div>
							</div>
							<div class="field field-small">
								<label class="label">Email</label>
								<input class="field__input" type="email" name="email" value="{{ user.profile.email }}">
							</div>

							<div class="flex gap-1">
								<div class="field field-small">
									<label class="label">Date of birth</label>
									<input class="field__input" type="date" name="birth_date" value="{{ user.profile.birth_date }}">
								</div>
								<div class="field field-small">
									<label class="label">Phone number</label>
									<input class="field__input" type="text" name="phone_number" pattern="[0-9]+"
												 value="{{ user.profile.phone_number }}">
								</div>
							</div>

							<div class="flex gap-1">
								<button type="submit" class="btn btn-primary btn-small">
									<span class="material-icons-round">edit</span>
									update
								</button>
								<a class="btn btn-small" href="{{ path_for("admin.deleteUser", {"id": user.id}) }}">
									<span class="material-icons-round">delete</span>
									Delete
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}

