{% extends "templates/main.twig" %}
{% block title %}
	Teacher - Edit Course
{% endblock %}
{% block css %}
{% endblock %}

{% block main %}
	<div class="container">
		<div class="py-2 flex i-center j-between">
			<div>
				<ol class="breadcrumb">
					<li class="breadcrumb__item">
						<a href="{{ path_for("home") }}">
							<span class="material-icons-round">home</span>
						</a>
					</li>
					<li class="breadcrumb__item">
						<a href="{{ path_for("my-courses") }}">my courses</a>
					</li>
					<li class="breadcrumb__item">
						<a href="{{ path_for("course", {"id": course.id}) }}">{{ course.name }}</a>
					</li>
					<li class="breadcrumb__item">edit</li>
				</ol>
				<h2>Edit Course Page</h2>
			</div>
			<button class="btn btn-filled btn-secondary modal-toggle" data-model-id="new_chapter">
				new Chapter
			</button>
		</div>
		{% for chapter in course.chapters %}
			<div class="card card-muted {{ loop.last ? "" : "mb-1" }} border">
				<div class="flex i-center j-between p-1">
					<div class="flex i-center gap-2">
						<h4 class="flex i-center gap-1"><span class="material-icons-round">bookmarks</span> Chapter {{ loop.index }}
						</h4>
						{{ chapter.name }}
					</div>
					<div class="flex i-center gap-1">
						<button class="btn-icon btn-circle btn-small btn-border-secondary" data-accordion="{{ chapter.id }}">
							<span class="material-icons-round" style="font-size: 28px">arrow_drop_down</span>
						</button>
					</div>
				</div>
				<div class="p-1" id="{{ chapter.id }}"
						 style="border-top: thin solid var(--border-color); background-color: var(--bg); max-height: 240px; overflow-y: auto">
					{% for lecture in chapter.lectures %}
						<div class="mb-1 flex i-center j-between">
							<div class="flex i-center gap-2">
								<strong class="flex i-center gap-1">
										<span class="material-icons-round">
											{{ lecture.format.format | lower == "text" ? "article" : "play_circle_filled" }}
										</span>
									Lecture {{ loop.index }}
								</strong>
								{{ lecture.name }}
							</div>
							<a href="#" class="btn-icon btn-circle btn-border-secondary">
								<span class="material-icons-round">edit</span>
							</a>
						</div>
					{% endfor %}
					<button class="btn btn-small btn-border-primary modal-toggle" style="font-size: .75rem"
									data-model-id="new_lecture_{{ chapter.id }}">
						<span class="material-icons-round">add</span>
						new lecture
					</button>
					<div class="model" id="new_lecture_{{ chapter.id }}">
						<div class="model__wrapper">
							<button class="model__close">
								<span class="material-icons-round">close</span>
							</button>
							<h3 class="mb-1">New Lecture</h3>
							<form action="/api/course/{{ course.id }}/chapters/{{ chapter.id }}/lectures" method="post"
										onsubmit="newLecture(event)">
								{{ csrf() | raw }}
								<div class="field field-small">
									<label class="label">Lecture Title</label>
									<input class="field__input" type="text" name="name" required>
								</div>
								<div class="field field-small">
									<label class="label">Lecture Type</label>
									<select class="field__input" type="text" name="format" required>
										{% for lectureFormat in lectureFormats %}
											<option value="{{ lectureFormat.id }}">{{ lectureFormat.format }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="field field-small">
									<label class="label">Content</label>
									<textarea class="field__input" name="content" cols="30" rows="10"></textarea>
								</div>
								<button class="btn btn-filled btn-secondary">
									<span class="material-icons-round">save</span>
									save
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="card card-muted">
				<div class="card__body">
					<h4>No Chapter Found</h4>
				</div>
			</div>
		{% endfor %}
	</div>
	{# modals #}
	<div class="model" id="new_chapter">
		<div class="model__wrapper">
			<button class="model__close">
				<span class="material-icons-round">close</span>
			</button>
			<h3 class="mb-1">New Chapter</h3>
			<p>Please specify the name of the chapter</p>
			<form action="/api/course/{{ course.id }}/chapters" class="flex i-center gap-1 mt-1"
						onsubmit="newChapter(event)">
				{{ csrf() | raw }}
				<input type="text" name="chapter_name" style="flex: 1" required>
				<button class="btn btn-filled btn-secondary">
					<span class="material-icons-round">add</span>
					add
				</button>
			</form>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script>
		const chapterAccordions = document.querySelectorAll("[data-accordion]");

		[...chapterAccordions].forEach(accordion => {
			const accordionContentId = accordion.getAttribute("data-accordion");
			accordion.addEventListener("click", () => handleClick(accordionContentId));
		});

		function handleClick(accordionContentId) {
			const accordionContent = document.getElementById(accordionContentId);
			if (accordionContent.style.display === "none")
				accordionContent.style.display = "block"
			else
				accordionContent.style.display = "none";
		}

		function newChapter(e) {
			e.preventDefault();
			const url = e.target.action;

			fetch(url, {
				method: "POST",
				body: new FormData(e.target)
			}).then((res) => {
				if (res.ok) {
					document.location.reload();
				} else {
					new toast("Error !", "error");
				}
			})
		}

		function newLecture(e) {
			e.preventDefault();
			fetch(e.target.action, {
				method: "POST",
				body: new FormData(e.target),
			}).then((res) => {
				if (res.ok) {
					document.location.reload();
				} else {
					new toast("Error !", "error");
				}
			});
		}
	</script>
{% endblock %}
