{% extends "templates/main.twig" %}
{% block title %}
	Teacher Courses
{% endblock %}
{% block main %}
	<div class="container-narrow">
		<div class="py-2">
			<ol class="breadcrumb">
				<li class="breadcrumb__item">
					<a href="{{ path_for("home") }}">
						<span class="material-icons-round">home</span>
					</a>
				</li>
				<li class="breadcrumb__item">
					my courses
				</li>
			</ol>
			<h2>My courses</h2>
		</div>
		<h4 class="mb-1">Published courses list <small>({{ courses | length }} found)</small></h4>
		<div class="card card-muted">
			<table class="table">
				<thead>
				<tr>
					<th>Course Name</th>
					<th>Academic level</th>
					<th>Publish date</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
				{% for course in courses %}
					<tr>
						<td><a href="{{ path_for("course", {"id": course.id}) }}">{{ course.name }}</a></td>
						<td>{{ course.level.name }}</td>
						<td>{{ course.created_at | human_diff }}</td>
						<td>
							<a href="{{ path_for("teacher.course.edit", {"id": course.id }) }}" class="btn btn-small btn-circle btn-icon btn-border-primary">
								<span class="material-icons-round">edit</span>
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

