{% extends "templates/main.twig" %}
{% block title %}
	Admin - Course Management
{% endblock %}
{% block main %}
	<div class="container-narrow">
		<div class="py-2">
			<ol class="breadcrumb">
				<li class="breadcrumb__item">
					<a href="{{ path_for("home") }}">
						<span class="material-icons-round">home</span>
					</a>
				</li>
				<li class="breadcrumb__item">Courses</li>
			</ol>
			<h1>Courses Management</h1>
		</div>
	</div>
	<div class="container-narrow">
		{% if courses is not empty %}
			<div class="card card-muted">
				<table class="table">
					<thead>
					<tr>
						<th>ID</th>
						<th>Course name</th>
						<th>Status</th>
						<th>Taught By</th>
						<th>Number of chapters</th>
						<th>actions</th>
					</tr>
					</thead>
					<tbody>
					{% for course in courses %}
						<tr>
							<td>{{ course.id }}</td>
							<td><a href="#">{{ course.name }}</a></td>
							<td> <div class="pill pill-secondary">{{ course.is_active == 1 ? "active" : "hidden" }}</div> </td>
							<td><small><b>{{ course.user.username }}</b></small></td>
							<td><small>{{ course.chapters | length }} chapters</small></td>
							<td>
								<div class="flex i-center" style="gap: 10px">
									<a href="#" class="btn-icon btn-circle btn-border-secondary">
										<span class="material-icons-round">edit</span>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<div class="card">
				<div class="card__body">
					<div class="flex col j-center i-center py-5">
						<h2>No Course found</h2>
						<p class="mb-1">Please add a new course</p>
						<a href="{{ path_for("admin.addDocument") }}" class="btn btn-border-primary btn-rounded">
							<span class="material-icons-round">local_library</span>
							New course
						</a>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}

