<header class="card-muted">
	<div class="header__wrapper">
		<button class="nav-toggler">
			<span class="material-icons-round"> menu </span>
		</button>
		<div class="header__item" style="color: #1baba1">
			<button
				style="color: white"
				class="btn btn-small btn-outline modal-toggle"
				data-model-id="language_model">
				<span class="material-icons-round"> language </span>
				language
			</button>
		</div>
		<div class="header__separator"></div>
		{% if auth.user.isTeacher() %}
			<div class="header__item">
				<a href="{{ path_for("create-course") }}" class="btn btn-small btn-filled btn-primary">
					<span class="material-icons-round">publish</span>
					Create a course
				</a>
			</div>
		{% endif %}
		<div class="header__item">
			<a href="#" class="btn btn-text btn-light">
				<span class="material-icons-round">notifications</span>
			</a>
		</div>
		<div class="header__item">
			<div class="dropdown">
				<button class="dropdown__toggle">
					<div class="header__profile">
						<span> @{{ auth.user.username }} </span>
					</div>
				</button>
				<div class="dropdown__content dropdown__content-end">
					<a class="header__profile__link" href="{{ path_for("user.profile", {"id" : auth.user.id})}}">
						<span class="material-icons-round">face</span>
						profile
					</a>
					<a class="header__profile__link" href="{{ path_for("user.settings")}}">
						<span class="material-icons-round">face</span>
						Setting
					</a>
					<a class="header__profile__link" href="{{ path_for("auth.logout") }}">
						<span class="material-icons-round">face</span>
						Logout
					</a>
				</div>
				<div class="dropdown__content__arrow"></div>
			</div>
		</div>
	</div>
</header>