<nav class="sidenav" style="height: calc(100vh - 50px); overflow-y: auto">
	<div class="nav-wrapper" style="height: 100%;">
		{# <div class="nav__title">Main Menu</div> #}
		<ul class="nav-simple" style="height: 100%; margin-bottom: 0px;">
			{# DASHBOARD LINK #}

			{% if auth.user.isAdmin() %}
				<li class="nav-simple__item">
					<a href="{{ path_for("admin.index") }}">
						<span class="material-icons-round nav-simple__icon"> home </span>
						<span class="nav-simple__text"> Dashboard </span>
					</a>
				</li>
				<li class="nav-simple__item">
					<a href="{{ path_for("admin.courses") }}">
						<span class="material-icons-round nav-simple__icon"> local_library </span>
						<span class="nav-simple__text"> Courses </span>
					</a>
				</li>
				<li class="nav-simple__item">
					<a href="{{ path_for("admin.users") }}">
						<span class="material-icons-round nav-simple__icon"> people </span>
						<span class="nav-simple__text"> Users </span>
					</a>
				</li>
				<li class="nav-simple__item">
					<a href="{{ path_for("admin.faculties") }}">
						<span class="material-icons-round nav-simple__icon">school</span>
						<span class="nav-simple__text">Faculties & Departements</span>
					</a>
				</li>
{#				<li class="nav-simple__item">#}
{#					<a href="{{ path_for("admin.roles") }}">#}
{#						<span class="material-icons-round nav-simple__icon"> admin_panel_settings </span>#}
{#						<span class="nav-simple__text"> Manage User Roles </span>#}
{#					</a>#}
{#				</li>#}
			{% else %}
				<li class="nav-simple__item">
					<a href="{{ path_for("home") }}">
						<span class="material-icons-round"> home </span>
						<span class="nav-simple__text"> Home </span>
					</a>
				</li>
				<li class="nav-simple__item">
					<a href="{{ path_for("explore") }}">
						<span class="material-icons-round">apps</span>
						<span class="nav-simple__text"> Explore </span>
					</a>
				</li>
				{% if auth.user.isTeacher() %}
					<li class="nav-simple__item" style="margin-top: auto">
						<a href="{{ path_for("my-courses") }}">
							<span class="material-icons-round">school</span>
							<span class="nav-simple__text"> My courses </span>
						</a>
					</li>
				{% endif %}
				<li class="nav-simple__item">
					<a href="{{ path_for("user.settings") }}">
						<span class="material-icons-round">settings</span>
						<span class="nav-simple__text"> Options </span>
					</a>
				</li>
				{# <li class="nav-simple__item"> #}
				{# <a href="#"> #}
				{# <span class="material-icons-round"> work </span> #}
				{# <span class="nav-simple__text"> Jobs </span> #}
				{# </a> #}
				{# </li>#}
			{% endif %}
		</ul>
	</div>
</nav>