{% extends "templates/main.twig" %}
{% block title %}
	Courses - {{ course.name }}
{% endblock %}
{% block main %}
	<div style="background-color: var(--green);">
		<div class="container-narrow">
			<div class="py-3">
				<ol class="breadcrumb breadcrumb-light">
					<li class="breadcrumb__item">
						<a href="{{ path_for("home") }}"><span class="material-icons-round">home</span></a>
					</li>
					<li class="breadcrumb__item">
						<a href="#">courses</a>
					</li>
					<li class="breadcrumb__item">
						<a href="#">{{ course.department.name }}</a>
					</li>
					<li class="breadcrumb__item">
						{{ course.name }}
					</li>
				</ol>
				<h1 class="py-2" style="color: white">{{ course.name }}</h1>
				<a href="{{ path_for("startCourse", {"c_id": course.id}) }}" class="btn btn-small btn-light">Start Course</a>
			</div>
		</div>
	</div>
	<div class="container-narrow py-1">
		<div class="row">
			<div class="col-8">
				<div class="card card-muted mb-1">
					<div class="card__body">
						<h3 class="mb-1">Overview</h3>
						<p>
							{{ course.description }}
						</p>
					</div>
				</div>
				<div class="card card-muted">
					<div class="card__body">
						<h3 class="mb-1">Course Content</h3>
						<ul style="list-style: none">
							{% for chapter in course.chapters %}
								<li>
									<div class="flex i-center j-between" style="padding: 12px 0; cursor: pointer" data-list-dropdown>
										<strong class="flex i-center">
											<button style="color: var(--green);"><span class="material-icons-round"
																																 style="margin-right: 12px">expand_more</span></button>
											{{ chapter.name }}
										</strong>
										<small>{{ chapter.lectures | length }} lecture(s)</small>
									</div>
									<ul style="background-color: var(--bg); display: none">
										{% for lecture in chapter.lectures %}
											<li class="px-2 py-1 flex i-center gap-1">
												<span style="color: var(--green);" class="material-icons-round">play_circle_filled</span>
												<small>{{ lecture.name }}</small>
											</li>
										{% endfor %}
									</ul>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card card-muted">
					<div class="card__body">
						<ul>
							<li class="flex col mb-1">
								<strong>Taught by</strong>
								<a href="{{ path_for("user.profile", {"id": course.user.id}) }}">{{ course.user.username }}</a>
							</li>
							<li class="flex col">
								<strong>Academic level</strong>
								<a href="#">{{ course.level.name }}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script>
		const listDropdowns = document.querySelectorAll("[data-list-dropdown]");
		listDropdowns.forEach(dropdown => {
			dropdown.addEventListener("click", (e) => {
				const list = dropdown.nextElementSibling;
				list.style.display = list.style.display === "none" ? "block" : "none";
			})
		});
	</script>
{% endblock %}


