{% extends "templates/main.twig" %}
{% block title %}
	{{ course.name }}
{% endblock %}
{% block main %}
	<div class="lecture">
		<div class="lecture__body">
			<div class="mb-1 flex i-center j-between">
				<a href="#" class="btn btn-small"><span class="material-icons-round">chevron_left</span> previous</a>
				<a href="#" class="btn btn-small">next <span class="material-icons-round">chevron_right</span></a>
			</div>
			<h1 style="margin-bottom: 10px">{{ lecture.name }}</h1>
			<div>
				{{ lecture.content | raw }}
			</div>
		</div>
		<div class="lecture__aside">
			<h5>Course Content</h5>
			<ul class="chapters-list">
				{% for chapter in course.chapters %}
					<li class="chapters-list__item">
						<h6 class="chapter">
							<span>Chapter {{ loop.index }}: {{ chapter.name }}</span>
							<span class="material-icons-round">bookmark</span>
						</h6>
						<ul class="lecturs-list">
							{% for lecture in chapter.lectures %}
								<li>
									<a href="#">{{ lecture.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}

